{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="container text-center">
        <h3>You have been registered successfully. Please wait for the call for action.</h3>
        <br>
        <a href="/volunteer" class="home-button card" role="button">
            {% bootstrap_icon "user" %}
            <span class="text">
            Register as<br/>a volunteer
            <span class="ml small">വൊളന്‍റീയര്‍ ആകാന്‍</span>
        </span>
        </a>
    </div>

{% endblock %}
